{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": 43.461347398016876,
        "longitude": -80.51426857709886,
	"elevation": 328,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "America/Toronto",
        "external_url": null,
        "internal_url": null,
        "currency": "CAD"
    }
}
