.storage/*
!.storage/lovelace

node-red/lib
node-red/node_modules
node-red/nodes
node-red/home-assistant_v2.db*
node-red/*.backup
node-red/settings.js

.cloud
*.log
*.db

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

nest.conf
.google.token
.ios.conf

.HA_VERSION
