.storage/*
!.storage/lovelace

.cloud
*.log
*.db
image
tts/**/*

# Ensure secrets YAML files are ignored
ip_bans.yaml
secrets.yaml
known_devices.yaml

nest.conf
.google.token
.ios.conf

.HA_VERSION

# HACS
*.pyc
