.storage/*
!.storage/hacs
!.storage/hacs.repositories
!.storage/hacs.hacs
!.storage/core.config
!.storage/lovelace

.cloud
.HA_VERSION
.ha_run.lock

*.log*
*.db*
zigbee.db
image
tts

# Ensure secrets YAML files are ignored
ip_bans.yaml
secrets.yaml
known_devices.yaml

# Confs for specific integrations
nest.conf
.google.token
.ios.conf
.accounts@jcmcginnis.com.august.conf

# HACS
*.pyc
custom_components
www

# Node-Red
node-red/*
!node-red/*.json
node-red/*_cred.json
node-red/settings.js

# ESPHime
esphome/secrets.yaml

# TrueNAS Plugin
packages
